.contacts {
    width: 95%;
    max-width: 1000px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: 2px solid #5088b8;
    border-radius: 20px;
    padding-left: 30px;
}

.contact {
    background-color: #f0f0f0;
    border: 3px solid #5088b8;
    font-weight: bold;
    padding: 12px 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    font-size: 1rem;
    position: relative;
}

.contact:hover {
    background-color: #c0b8c0;
}

.data{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact input{
    position: absolute;
    left: -25px;
    cursor: pointer;
}

.contact__email {
    opacity: .7;
    display: none;
}

.message{
    width: 95%;
    max-width: 1000px;
    margin: 80px auto;
    text-align: center;
    font-size: 1.2rem;
}

@media (min-width: 480px) {
    .contact__email {
        display: block;
    }
}