.container{
    width: 95%;
    max-width: 1000px;
    margin: auto;
    padding-top: 30px;
}

.header{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.header h3{
    transform: translateX(-50%);
    display: inline-block;
}

.container i{
    cursor: pointer;
    font-size: 1rem;
    transition: .3s;
}

.container i:hover{
    transform: translateX(-10%);
}

.contacts {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: 2px solid #5088b8;
    border-radius: 20px;
    padding-left: 30px;
}

.contact {
    background-color: #f0f0f0;
    border: 3px solid #5088b8;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    font-size: 1rem;
    position: relative;
}

.contact:hover {
    background-color: #c0b8c0;
}

.data{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
}

.contact__email {
    opacity: .7;
    display: none;
}

.message{
    width: 95%;
    max-width: 1000px;
    margin: 80px auto;
    text-align: center;
    font-size: 1.2rem;
}

@media (min-width: 480px) {
    .contact__email {
        display: block;
    }
}